@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000 url("bg.jpg") no-repeat center top;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#wrap {
	width: 1000px;
	margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

h1 {font-size: 72px;
    font-family: 'Roboto Condensed', serif;
    text-align: center;
    text-shadow: 4px 4px 1px #000;
    margin: 20px;
    color: #fff;}

h2{font-size: 25px; 
    color: #8CF0EF; 
    font-family: Georgia, serif;
    font-variant: inherit;
    margin: 10px;
text-align: center;}
header {
	clear: both;
	text-align:center;
}
#logo {
	padding: 10px;
}
nav {
	padding: 10px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav li {
	display: inline;
	margin: 0 30px;
}
nav a {
	color: #133450;
	font-size:30px;
	text-decoration:none;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
}
nav a:hover {
	color: white;
}
section {
	background-color:rgba(0,0,0,0.3);
    padding: 40px; 
    overflow: auto;
}

.welcome {
	padding: 10px 15px;
	margin: 20px 0;
	overflow: auto;
}
footer {
	background-color: transparent;
	padding: 10px;
	color: white;
	text-align: center;
	clear: both;
}
footer a {
	color: #8CF0EF;
}

figure {width: 30%;
    background-color: #000;
    padding: 10px;
    margin: 0;
    border: 1px;
    border-color: #fff;
    float: left;}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

figure img {width:100%;}

figcaption {color: #fff;
    text-align: center;
    font-size: 90%;
    font-family: 'Noto Sans TC', sans-serif;
        text-shadow: 1px 1px 4px #fff;}
